.container {
    width: 400px;
    height: 250px;
    margin: 500px;
    padding: 24px;
    background-color: orange;
    box-sizing: border-box;
    position: relative;
}
.container.item {
    width: 100px;
    height: 100px;
    background-color: royalblue;
}
.container.item:nth-child(1) {
    position: absolute;
    left: 40px;
    bottom: 10px;
}
.container.item:nth-child(2) {
    position: absolute;
    right: 100px;
    top: 20px;
}