body {
    width: 500px;
    margin: 10px auto;
}
#middle { overflow: hidden; }
#left { float: left; width: 150px; background-color: red; }
#right {float: right; width: 350px; background-color: blue;}
#top { background-color: green; }
#bottom { background-color: purple; }